

.description{border: 1px solid #eee4e4;
  border-radius: 0.25rem; }


.produit-image-thumb{
  width:100px;
  height:100px;
}


img.produit-image{
  display:block;
  width:250px;
  height: 250px;
}

button.search{
  background-color:#A91F1F;
}


.search{
  background-color: #EEE4E4;
}
.search-input{
  height:30px !important;
}

aside{
  
box-shadow: 0px 0 5px -2px #888;
min-height: 100vh;}


.title-categorie,.title-article{
  color:#4A0D17;
}


.contact-shadow{box-shadow: 0 10px 10px -10px  #EEE4E4;}


/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/

body{
  font-family: "roboto"  !important;
  color:#707070;
}

h1,h2, h3{
  font-family: "DancingScript" !important;
  color:#4A0D17;
}

 button,.DancingScript{
  font-family: "DancingScript" !important;
}

/*-----------------------------------------------------------------------------------*/


.gris{
  color:  #707070;

}

.jaune{background-color: #ec6726;}

  
  .site{
    min-height: 100vh;
      display: flex;
      flex-direction: column;
  }
  
  header, footer{
      padding: 1rem;
    background-color: #82B657;
  }
  
  header.headerboutique, footer.FooterBoutique,.buy-boutique
  {
    background-color:#ec6726 !important;
  }

  header.headeratelier, footer.footeratelier{
    background-color: #57aab0;
  }




  .concept-boutique{
  background-color:#EEE4E4;
  border-top: solid 7px #ec6726;
  min-height: 370px;
  }
  
  .concept-atelier{
    background-color:#E0D7D7;
    border-top: solid 7px #008492;
    min-height: 370px;

  
  }
  main{
    flex: 1;
    width:100%;
  }
  
  button.boutique{
    background-color:#ec6726;
    width: 100px;
  }
  button.atelier{
    background-color:#008492;
    width: 100px;
  }
  
  button.valeur{
    background-color:#82B657;
    width: 120px;
  }
  
  .product-list {
      display: grid;
      grid-gap: theme('spacing.20')
    }
    
    .product-category {
      display: grid;
      grid-gap: theme('spacing.20')
    }
  
  
  
  
    img.valeur{
      width:250px;
      height:250px;
    }
    
  
    @screen sm {
      .product-list {
        grid-template-columns: 2fr 2fr;
      }
      
    }
    
    @screen lg {
      .product-list {
        grid-template-columns: 1fr 1fr 1fr;
      }
     
    }
    
    .markdown {
      @apply text-gray-900 leading-normal break-words;
    }
    
    .markdown > * + * {
      @apply mt-4;
    }
    
    .markdown strong {
      @apply font-semibold;
    }
    
    .markdown a {
      @apply text-blue-600 font-semibold;
    }
    
    .markdown strong a {
      @apply font-bold;
    }
    
    .markdown h1 {
      @apply leading-tight border-b text-4xl font-semibold mb-4 mt-6 pb-2;
    }
    
    .markdown h2 {
      @apply leading-tight border-b text-2xl font-semibold mb-4 mt-6 pb-2;
    }
    
    .markdown h3 {
      @apply leading-snug text-lg font-semibold mb-4 mt-6;
    }
    
    .markdown h4 {
      @apply leading-none text-base font-semibold mb-4 mt-6;
    }
    
    .markdown h5 {
      @apply leading-tight text-sm font-semibold mb-4 mt-6;
    }
    
    .markdown h6 {
      @apply leading-tight text-sm font-semibold text-gray-600 mb-4 mt-6;
    }
    
    .markdown blockquote {
      @apply text-base border-l-4 border-gray-300 pl-4 pr-4 text-gray-600;
    }
    
    .btn {
      @apply font-bold py-2 px-4 rounded;
    }
    
    .btn-green {
      @apply bg-green-600 text-white;
    }
    
    .btn-green:hover {
      @apply bg-green-800;
    }

    @media screen and (max-width: 992px) {
      concept-boutique{
        background-color:#EEE4E4;
        border-top: solid 7px #ec6726;
        }
        
        .concept-atelier{
          background-color:#E0D7D7;
          border-top: solid 7px #008492;
          min-height: auto;
      
        
        }
    }


  